* {
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #D8D8D8;*/
	height: 1000px;
}

#egg {
	background-image: url(../images/egg.png);
	width: 65px;
 	height: 65px;
	position:absolute;
	left: 0px;
	top: 0;
	z-index: 9;
	-webkit-animation:myfirst 1.5s;
	-0-animation:myfirst 1.5s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes myfirst
{
	0%   {left: 101px; top: 0px;}
	100% {
		left: 100px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#egg_broke {
	-webkit-transition-delay: 1s;
	display: none;
}

#kid {
	width: 65px;
 	height: 65px;
	position:absolute;
	z-index: 9;
	-webkit-animation:mysecond 1.5s;
	-0-animation:mysecond 1.5s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mysecond
{
	0%   {left: 100px; top: 500px;-webkit-transform:rotate(7deg);}
	25% {left: 145px; top: 500px;-webkit-transform:rotate(-7deg);}
	50% {left: 190px; top: 500px;-webkit-transform:rotate(7deg);}
	75% {left: 235px; top: 500px;-webkit-transform:rotate(-7deg);}
	100% {
		left: 280px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#pupils {
	width: 72px;
 	height: 107px;
	position:absolute;
	z-index: 9;
	-webkit-animation:mythird 1.5s;
	-0-animation:mythird 1.5s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mythird
{
	0%   {left: 281px; top: 500px;}
	100% {
		left: 460px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#junior {
	width: 72px;
 	height: 107px;
	position:absolute;
	z-index: 9;
	-webkit-animation:myfifth 1.5s;
	-0-animation:myfifth 1.5s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes myfifth
{
	0%   {left: 461px; top: 500px;}
	100% {
		left: 640px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#senior {
	width: 72px;
 	height: 107px;
	position:absolute;
	z-index: 9;
	-webkit-animation:mysixed 1.5s;
	-0-animation:mysixed 1.5s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mysixed
{
	0%   {left: 641px; top: 500px;}
	100% {
		left: 820px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#college {
	width: 72px;
 	height: 107px;
	position:absolute;
	z-index: 9;
	-webkit-animation:mysevened 1.5s;
	-0-animation:mysevened 1.5s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mysevened
{
	0%   {left: 821px; top: 500px;}
	100% {
		left: 1000px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#recent {
	width: 72px;
 	height: 107px;
	position:absolute;
	z-index: 9;
	-webkit-animation:myeight 1.5s;
	-0-animation:myeight 1.5s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes myeight
{
	0%   {left: 1001px; top: 500px;}
	100% {
		left: 1180px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}