/* 
* @Author: Hector
* @Date:   2015-05-21 17:18:50
* @Last Modified by:   huhuaquan
* @Last Modified time: 2015-05-21 17:55:53
*/
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #D8D8D8;
	height: 1000px;
}

#start {
	margin: auto;
	height: 300px;
	width: 800px;
	position: absolute;
	border: 1px solid #848484;
	border-radius: 10px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#start-btn {
	height: 256px;
	width: 256px;
	margin: auto;
	margin-top: 22px;
}